body {
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  background-color: hsl(207, 100%, 89%);
}

div {
  margin: 0.1%;
  padding: 0.1%;
  text-align: center;
}

.imageArea {
  width: 30%;
  display: inline-block;
}

#videoSection {
  width: 30%;
  display: inline-block;
  border: 1px solid black;
}

#title {
  color: hsl(300, 100%, 50%);;
  font-size: 50px;
}

.videoChoice {
  border: 1px solid black;
}

.videoButton {
  background-color: red;
  font-size: 30px;
  margin: 1%;
  border-radius: 10px;
}

#start {
  background-color: orange;
  color: white;
  width: 40%;
  height: 20%;
  font-size: 50px;
  border-radius: 10px;
  border-style: solid;
}

img {
  width: 150px;
  height: 150px;
}
