body {
  margin: auto;
  font-family: 'Orbitron', sans-serif;
  background-color: black;
}
.bigButton {
  background-color: #00FF00;
  color: white;
  width: 20%;
  height: 20%;
  font-size: 50px;
  border-style: solid;
  margin: auto;
}

.bigButton:hover {
  background-color: white;
  color: #00FF00;
}

button {
  font-family: 'Orbitron', sans-serif;
  background-color: #00FF00;
  color: black;
}

button:hover {
  background-color: white;
  color: #00AA00;
}

.textWall {
  font-size: 30px;
  text-align: center;
  text-indent: 2em;
  color: #00FF00;
  margin: auto;
}

#title {
  
}

.largeText {
  font-size: 50px;
  text-align: center;
  color: #00FF00;
  margin: auto;
}

#startScreen {

}

#endScreen {
  display: none;
}

#dialogBox {
  display: none;
  background-color: black;
  color: #00FF00;
  margin: auto;
  text-align: center;
}
